<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Vasudev Menon",
  "url": "{{ site.url }}",
  "email": "{{ site.email }}",
  "jobTitle": "Student",
  "affiliation": {
    "@type": "Organization",
    "name": "North Carolina State University"
  },
  "alumniOf": {
    "@type": "EducationalOrganization",
    "name": "North Carolina State University"
  },
  "sameAs": [
    "https://www.linkedin.com/in/vmenon04/",
    "https://github.com/vmenon04"
  ]
}
</script>
