/* Rouge Syntax Highlighting - Complete Theme */

/* Light Theme (Default) */
.highlight { background-color: var(--code-bg); }
.highlight .c { color: #998; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #000; font-weight: bold } /* Keyword */
.highlight .o { color: #000; font-weight: bold } /* Operator */
.highlight .p { color: #000 } /* Punctuation */
.highlight .n { color: #000 } /* Name */
.highlight .cm { color: #998; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #998; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000; background-color: #fdd } /* Generic.Deleted */
.highlight .gm { color: #000; font-weight: bold } /* Generic.Emph */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #a00 } /* Generic.Error */
.highlight .gh { color: #999 } /* Generic.Heading */
.highlight .gi { color: #000; background-color: #dfd } /* Generic.Inserted */
.highlight .go { color: #888 } /* Generic.Output */
.highlight .gp { color: #555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaa } /* Generic.Subheading */
.highlight .gt { color: #a00 } /* Generic.Traceback */
.highlight .kc { color: #0086b3; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #0086b3; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #0086b3; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #0086b3; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #0086b3; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #458; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #099 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086b3 } /* Name.Builtin */
.highlight .nc { color: #458; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #900; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #900 } /* Name.Function */
.highlight .nl { color: #900 } /* Name.Label */
.highlight .nn { color: #555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { color: #000; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbb } /* Text.Whitespace */
.highlight .mf { color: #099 } /* Literal.Number.Float */
.highlight .mh { color: #099 } /* Literal.Number.Hex */
.highlight .mi { color: #099 } /* Literal.Number.Integer */
.highlight .mo { color: #099 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #0086b3 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #099 } /* Literal.Number.Integer.Long */

/* Dark Theme */
[data-theme="dark"] .highlight .c { color: #7a8b7a; font-style: italic } /* Comment */
[data-theme="dark"] .highlight .err { color: #ff6b6b; background-color: transparent } /* Error */
[data-theme="dark"] .highlight .k { color: #51b6eb; font-weight: bold } /* Keyword */
[data-theme="dark"] .highlight .o { color: #e8e8e8; font-weight: bold } /* Operator */
[data-theme="dark"] .highlight .p { color: #e8e8e8 } /* Punctuation */
[data-theme="dark"] .highlight .n { color: #e8e8e8 } /* Name */
[data-theme="dark"] .highlight .cm { color: #7a8b7a; font-style: italic } /* Comment.Multiline */
[data-theme="dark"] .highlight .cp { color: #999; font-weight: bold } /* Comment.Preproc */
[data-theme="dark"] .highlight .c1 { color: #7a8b7a; font-style: italic } /* Comment.Single */
[data-theme="dark"] .highlight .cs { color: #999; font-weight: bold; font-style: italic } /* Comment.Special */
[data-theme="dark"] .highlight .gd { color: #ff6b6b } /* Generic.Deleted */
[data-theme="dark"] .highlight .gm { color: #51b6eb; font-weight: bold } /* Generic.Emph */
[data-theme="dark"] .highlight .ge { font-style: italic } /* Generic.Emph */
[data-theme="dark"] .highlight .gr { color: #ff6b6b } /* Generic.Error */
[data-theme="dark"] .highlight .gh { color: #999 } /* Generic.Heading */
[data-theme="dark"] .highlight .gi { color: #45b649 } /* Generic.Inserted */
[data-theme="dark"] .highlight .go { color: #888 } /* Generic.Output */
[data-theme="dark"] .highlight .gp { color: #999 } /* Generic.Prompt */
[data-theme="dark"] .highlight .gs { font-weight: bold } /* Generic.Strong */
[data-theme="dark"] .highlight .gu { color: #aaa } /* Generic.Subheading */
[data-theme="dark"] .highlight .gt { color: #ff6b6b } /* Generic.Traceback */
[data-theme="dark"] .highlight .kc { color: #51b6eb; font-weight: bold } /* Keyword.Constant */
[data-theme="dark"] .highlight .kd { color: #51b6eb; font-weight: bold } /* Keyword.Declaration */
[data-theme="dark"] .highlight .kn { color: #51b6eb; font-weight: bold } /* Keyword.Namespace */
[data-theme="dark"] .highlight .kp { color: #51b6eb; font-weight: bold } /* Keyword.Pseudo */
[data-theme="dark"] .highlight .kr { color: #51b6eb; font-weight: bold } /* Keyword.Reserved */
[data-theme="dark"] .highlight .kt { color: #51b6eb; font-weight: bold } /* Keyword.Type */
[data-theme="dark"] .highlight .m { color: #f29718 } /* Literal.Number */
[data-theme="dark"] .highlight .s { color: #45b649 } /* Literal.String */
[data-theme="dark"] .highlight .na { color: #51b6eb } /* Name.Attribute */
[data-theme="dark"] .highlight .nb { color: #51b6eb } /* Name.Builtin */
[data-theme="dark"] .highlight .nc { color: #51b6eb; font-weight: bold } /* Name.Class */
[data-theme="dark"] .highlight .no { color: #e8e8e8 } /* Name.Constant */
[data-theme="dark"] .highlight .ni { color: #e8e8e8 } /* Name.Entity */
[data-theme="dark"] .highlight .ne { color: #ff6b6b; font-weight: bold } /* Name.Exception */
[data-theme="dark"] .highlight .nf { color: #e8e8e8 } /* Name.Function */
[data-theme="dark"] .highlight .nl { color: #e8e8e8 } /* Name.Label */
[data-theme="dark"] .highlight .nn { color: #999 } /* Name.Namespace */
[data-theme="dark"] .highlight .nt { color: #51b6eb } /* Name.Tag */
[data-theme="dark"] .highlight .nv { color: #e8e8e8 } /* Name.Variable */
[data-theme="dark"] .highlight .ow { color: #51b6eb; font-weight: bold } /* Operator.Word */
[data-theme="dark"] .highlight .w { color: #bbb } /* Text.Whitespace */
[data-theme="dark"] .highlight .mf { color: #f29718 } /* Literal.Number.Float */
[data-theme="dark"] .highlight .mh { color: #f29718 } /* Literal.Number.Hex */
[data-theme="dark"] .highlight .mi { color: #f29718 } /* Literal.Number.Integer */
[data-theme="dark"] .highlight .mo { color: #f29718 } /* Literal.Number.Oct */
[data-theme="dark"] .highlight .sb { color: #45b649 } /* Literal.String.Backtick */
[data-theme="dark"] .highlight .sc { color: #45b649 } /* Literal.String.Char */
[data-theme="dark"] .highlight .sd { color: #45b649 } /* Literal.String.Doc */
[data-theme="dark"] .highlight .s2 { color: #45b649 } /* Literal.String.Double */
[data-theme="dark"] .highlight .se { color: #45b649 } /* Literal.String.Escape */
[data-theme="dark"] .highlight .sh { color: #45b649 } /* Literal.String.Heredoc */
[data-theme="dark"] .highlight .si { color: #45b649 } /* Literal.String.Interpol */
[data-theme="dark"] .highlight .sx { color: #45b649 } /* Literal.String.Other */
[data-theme="dark"] .highlight .sr { color: #45b649 } /* Literal.String.Regex */
[data-theme="dark"] .highlight .s1 { color: #45b649 } /* Literal.String.Single */
[data-theme="dark"] .highlight .ss { color: #45b649 } /* Literal.String.Symbol */
[data-theme="dark"] .highlight .bp { color: #51b6eb } /* Name.Builtin.Pseudo */
[data-theme="dark"] .highlight .vc { color: #e8e8e8 } /* Name.Variable.Class */
[data-theme="dark"] .highlight .vg { color: #e8e8e8 } /* Name.Variable.Global */
[data-theme="dark"] .highlight .vi { color: #e8e8e8 } /* Name.Variable.Instance */
[data-theme="dark"] .highlight .il { color: #f29718 } /* Literal.Number.Integer.Long */
